---
layout: layout.njk
pagination:
  data: albums
  size: 1
  alias: album
permalink: /s/albums/{{ album.slug }}/
eleventyComputed:
  title: "{{ album.title | lower }}"
---

{% include "album.njk" %}
