---
layout: layout.njk
title: home
---

<body class="text-main">
  <div
    class="position-fixed fixed-top fixed-bottom w-100 bg-cover z-index-n1"
    style="background-image: url('/assets/images/backgrounds/homepage.jpg');"
  >
  </div>

  <div class="vh-100 d-flex flex-column justify-content-center">
    {% include "navbar.njk" %}

    <h2 class="display-3 my-auto text-center font-georgia position-sticky top-50">SOMEDAY…</h2>
  </div>

  <div class="vh-100">
    <div class="display-4 my-auto text-center position-sticky top-50">i will <em>make</em> something</div>
  </div>

  <div class="vh-100">
    <div class="h1 my-auto text-center position-sticky top-50">that i enjoy</div>
  </div>

  <div class="vh-100">
    <div class="h2 my-auto text-center position-sticky top-50">and share it <a class="text-main hover:translucent" href="/">here</a></div>
  </div>

  <div class="vh-100">
    <div class="h3 my-auto text-center position-sticky top-50 fst-italic">maybe</div>
  </div>

  <div class="vh-100">
    <div class="h4 my-auto text-center position-sticky top-50">(hopefully)</div>
  </div>

  <div class="vh-100">
    <div class="h5 my-auto text-center position-sticky top-50">you will like it</div>
  </div>

  <div class="vh-100">
    <div class="small my-auto text-center position-sticky top-50">too</div>
  </div>
</body>
